<!DOCTYPE html>
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Snippetz</title>
    <link href='http://fonts.googleapis.com/css?family=Unika+One|Vollkorn:400,700' rel='stylesheet' type='text/css'>
    {% style "/css/screen.css" %}
    {% style "/css/foundation.min.css" %}
  </head>
  <body>
    {% include "templates/nav.html" %}

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    <!-- scripts and styles -->
    <!--<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">-->
      {% script "/js/jquery-1.11.1.min.js" %}

      {% script "/js/bootstrap.min.js" %}
      {% script "/js/moment.min.js" %}
      {% script "/js/underscore-min.js" %}
      {% script "/js/handlebars.min.js" %}


    <script type="text/javascript">
      var context = "{{servlet-context}}";
    </script>
    {% block page-scripts %}
    {% endblock %}
  </body>
</html>

