<div class="nav_bar">
  <div class="row">
    <form action="/search">
        <div class="large-6 columns">
            <input id="search-box" autofocus=true type="text" name="search-text" value="{{search-text}}"></input>
        </div>
        <!--<button type="submit">Search</button>-->
        <div class="large-3 columns">
            <button class="primary_button" id="search-snippitz" type="submit">Search Snippetz</button>
        </div>
        <div class="large-3 columns">
            <button class="primary_button" id="create-new-file" type="button">Create New Snippet</button>
        </div>
    </form>
  </div>
</div>
